*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  height: 100%;
}

html {
  height: 100%;
  background: #f7f8fa;
}

@font-face {
  font-family: "Roboto-Font";
  src: url("./fonts/Roboto/Roboto-Black.ttf");
  src: url("./fonts/Roboto/Roboto-BlackItalic.ttf") format("embedded-opentype"), url("./fonts/Roboto/Roboto-Bold.ttf") format("woff"), url("./fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype"), url("./fonts/Roboto/Roboto-Italic.ttf"), url("./fonts/Roboto/Roboto-Light.ttf"), url("./fonts/Roboto/Roboto-LightItalic.ttf"), url("./fonts/Roboto/Roboto-Medium.ttf"), url("./fonts/Roboto/Roboto-MediumItalic.ttf"), url("./fonts/Roboto/Roboto-Regular.ttf"), url("./fonts/Roboto/Roboto-Thin.ttf"), url("./fonts/Roboto/Roboto-ThinItalic.ttf");
  font-style: normal;
}
header {
  /*header background*/
  background-color: #f7f8fa;
  border-bottom: solid 2px #EDEFF2;
}
header .header-container {
  height: 100px;
  padding: 0px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*navigation*/
  /*input*/
}
@media screen and (max-width: 1400px) {
  header .header-container {
    height: 72px;
  }
}
header .header-container .left-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*burger menu*/
  /*constructor*/
}
header .header-container .left-cont .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  /* Shadows/Gray Blue/3%/5b */
  -webkit-box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
          box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
}
header .header-container .left-cont h4 {
  font-family: "Roboto-Font";
  font-weight: 700;
  margin-left: 35px;
  color: #4D5E80;
}
@media (max-width: 920px) {
  header .header-container .left-cont h4 {
    margin-left: 10px;
  }
}
header .header-container .navigation {
  margin-left: 85px;
}
@media (max-width: 1220px) {
  header .header-container .navigation {
    display: none;
  }
}
header .header-container .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-container .navigation ul .list {
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}
header .header-container .navigation ul .list:not(:nth-child(1)) {
  margin-left: 30px;
}
header .header-container .navigation ul .list:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
header .header-container .navigation ul .list .list-a {
  font-family: "Roboto-Font";
  color: #7D8FB3;
  font-size: 13px;
}
header .header-container .navigation ul .other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}
header .header-container .input-container {
  /* Shadows/Gray Blue/3%/5b */
  width: 298px;
  height: 60px;
  position: relative;
  margin-left: 93px;
}
@media screen and (max-width: 920px) {
  header .header-container .input-container {
    display: none;
  }
}
header .header-container .input-container .search-image {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
}
header .header-container .input-container input {
  width: 100%;
  height: 100%;
  /* Shadows/Gray Blue/3%/5b */
  -webkit-box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
          box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
  border-radius: 30px;
  padding-left: 60px;
  font-size: 12px;
  font-family: "Roboto-Font";
  /* Grey Blue 80 */
  color: black;
}
header .header-container .input-container input::-webkit-input-placeholder {
  /* Grey Blue 80 */
  color: #ADB8CC;
}
header .header-container .input-container input::-moz-placeholder {
  /* Grey Blue 80 */
  color: #ADB8CC;
}
header .header-container .input-container input:-ms-input-placeholder {
  /* Grey Blue 80 */
  color: #ADB8CC;
}
header .header-container .input-container input::-ms-input-placeholder {
  /* Grey Blue 80 */
  color: #ADB8CC;
}
header .header-container .input-container input::placeholder {
  /* Grey Blue 80 */
  color: #ADB8CC;
}
header .header-container .account {
  margin-left: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-container .account .account-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}
@media (max-width: 920px) {
  header .header-container .account .account-box {
    margin-right: 0px;
  }
}
header .header-container .account .account-box span {
  font-family: "Roboto-Font";
  font-size: 13px;
  /* Grey Blue 60 */
  color: #6B7A99;
  margin-left: 15px;
}
@media (max-width: 920px) {
  header .header-container .account .account-box span {
    display: none;
  }
}
header .header-container .account .circle_container {
  /* Shadows/Gray Blue/3%/5b */
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: relative;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
header .header-container .account .circle_container:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
header .header-container .account .circle_container:nth-child(2) {
  margin-right: 10px;
}
header .header-container .account .circle_container .notification {
  width: 10px;
  height: 10px;
  background-color: #E62E7B;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
}
header .header-container .account .circle_container .image-notification {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
          box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
}
@media screen and (max-width: 920px) {
  header .header-container .account .circle_container {
    display: none;
  }
}

/*Start Section*/
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 920px) {
  section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 50px;
  }
}

.left-navigation {
  width: 100px;
  background-color: #f7f8fa;
  border-right: solid 2px #EDEFF2;
  padding: 30px 0px 30px 25px;
}
@media screen and (max-width: 2560px) {
  .left-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 90vh;
  }
}
@media screen and (max-width: 1920px) {
  .left-navigation {
    height: auto;
  }
}
@media screen and (max-width: 920px) {
  .left-navigation {
    display: none;
  }
}
.left-navigation .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.left-navigation .information .circles {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  /*animation*/
  -webkit-transition: all, 0.4s;
  transition: all, 0.4s;
}
.left-navigation .information .circles:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.left-navigation .information .circles:not(:first-child) {
  margin-top: 20px;
}
.left-navigation .information .circles .stick {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #E62E7B;
  top: 0px;
  right: 0px;
  border-radius: 50%;
}
@media screen and (max-width: 1400px) {
  .left-navigation .information .circles {
    margin-top: 10px;
  }
}
.left-navigation .information .circles .circle2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* White */
  background: #FFFFFF;
  /* Shadows/Gray Blue/3%/5b */
  -webkit-box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
          box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media screen and (max-width: 1400px) {
  .left-navigation .information .circles .circle2 {
    width: 40px;
    height: 40px;
  }
  .left-navigation .information .circles .circle2:not(:first-child) {
    margin-top: 10px;
  }
}
.left-navigation .information2 {
  margin-top: 280px;
}
.left-navigation .information2 .Circle {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.left-navigation .information2 .Circle:not(:first-child) {
  margin-top: 22px;
}
.left-navigation .information2 .Circle .Stick {
  width: 10px;
  height: 10px;
  position: absolute;
  /* Blue */
  background: #3361FF;
  /* Shadows/Gray Blue/3%/10b */
  -webkit-box-shadow: 0px 2px 10px rgba(38, 51, 77, 0.03);
          box-shadow: 0px 2px 10px rgba(38, 51, 77, 0.03);
  top: 0px;
  right: 0px;
  border-radius: 50%;
}
.left-navigation .information2 .Circle .CircleBox, .left-navigation .information2 .Circle .CircleBox img {
  width: 100%;
  height: 100%;
}
.left-navigation .information2 .Circle .CircleBox img {
  border-radius: 50%;
}
.left-navigation .information2 .otherblock1 .otherblock2 {
  background-color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.left-navigation .information2 .otherblock1 .otherblock2 img {
  width: 20px;
  height: 20px;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}
@media screen and (max-width: 2560px) {
  .card-wrapper {
    width: 90%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media screen and (max-width: 1920px) {
  .card-wrapper {
    width: auto;
  }
}
@media screen and (max-width: 1550px) {
  .card-wrapper {
    width: 70%;
  }
}
@media screen and (max-width: 1400px) {
  .card-wrapper {
    -webkit-transform: scale(0.9) translateY(-100px);
            transform: scale(0.9) translateY(-100px);
  }
}
@media screen and (max-width: 920px) {
  .card-wrapper {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    padding-top: 13px;
  }
}
.card-wrapper .card-info {
  padding-left: 30px;
  padding-top: 30px;
}
@media screen and (max-width: 1550px) {
  .card-wrapper .card-info {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    padding: 0px;
  }
}
@media screen and (max-width: 1450px) {
  .card-wrapper .card-info {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@media screen and (max-width: 1366px) {
  .card-wrapper .card-info {
    -webkit-transform: scale(0.8) translateX(100px);
            transform: scale(0.8) translateX(100px);
  }
}
@media screen and (max-width: 1220px) {
  .card-wrapper .card-info {
    display: none;
  }
}
@media screen and (max-width: 920px) {
  .card-wrapper .card-info {
    display: block;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.card-wrapper .card-info .background-wrapper {
  width: 350px;
  height: 245px;
  position: relative;
}
.card-wrapper .card-info .background-wrapper .cards {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 13px;
  left: 30px;
}
.card-wrapper .card-info .background-wrapper .cards .card-image:not(:first-child) {
  margin-left: 20px;
}
.card-wrapper .card-info .background-wrapper .cards .card-image .sticker {
  width: 40px;
  height: 2px;
  background-color: #FF6633;
  margin: 0 auto;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}
.card-wrapper .card-info .background-wrapper .background-pink {
  padding: 32px;
  width: 100%;
  height: 210px;
  background: linear-gradient(196.77deg, #FF46AA 0.6%, #FDF37A 136.46%);
  -webkit-box-shadow: inset 0px 1px 63px rgba(244, 239, 255, 0.2);
          box-shadow: inset 0px 1px 63px rgba(244, 239, 255, 0.2);
  border-radius: 10px;
}
.card-wrapper .card-info .background-wrapper .background-pink .bank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-wrapper .card-info .background-wrapper .background-pink .bank h5 {
  font-size: 30px;
  font-family: "Roboto-Font";
  color: White;
}
.card-wrapper .card-info .background-wrapper .background-pink .bank p {
  font-size: 14px;
  font-family: "Roboto-Font";
  color: white;
}
.card-wrapper .card-info .background-wrapper .background-pink .level {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-wrapper .card-info .background-wrapper .background-pink .level .squad:not(:first-child) {
  margin-left: 10px;
}
.card-wrapper .card-info .background-wrapper .background-pink .level .squad span {
  background-color: white;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2px;
}
.card-wrapper .card-info .background-wrapper .background-pink .level div p {
  padding-top: 5px;
  color: white;
  font-family: "Roboto-Font";
  font-size: 16px;
  margin-left: 15px;
}
.card-wrapper .card-info .background-wrapper .background-pink .Mastercard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 33px;
}
.card-wrapper .card-info .background-wrapper .background-pink .Mastercard p {
  font-family: "Roboto-Font";
  font-size: 14px;
  color: white;
}
.card-wrapper .card-info .dolar-section {
  margin-top: 40px;
  width: 350px;
  height: 730px;
  /* White */
  background: white;
  /* Shadows/Gray Blue/3%/5b */
  -webkit-box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
          box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
  border-radius: 10px;
}
.card-wrapper .card-info .dolar-section .top-cont {
  padding: 21px 44px 24px 32px;
  border-bottom: solid 2px #F5F6F7;
}
.card-wrapper .card-info .dolar-section .top-cont ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-wrapper .card-info .dolar-section .top-cont ul li {
  font-size: 12px;
  font-family: "Roboto-Font";
  font-weight: 900;
  /* Grey Blue 70 */
  color: #7D8FB3;
}
.card-wrapper .card-info .dolar-section .top-cont ul li:nth-child(1) {
  /* Purple */
  color: #8833FF;
}
.card-wrapper .card-info .dolar-section .top-cont ul li .click-event {
  /* Purple */
  background: #8833FF;
  height: 2.11px;
  border-radius: 1px;
  -webkit-transform: translateY(25.5px);
          transform: translateY(25.5px);
}
.card-wrapper .card-info .dolar-section .money {
  padding-top: 27px;
}
.card-wrapper .card-info .dolar-section .money .money-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-bottom: solid 2px #F5F6F7;
}
.card-wrapper .card-info .dolar-section .money .money-container:not(:first-child) {
  padding-top: 20px;
}
.card-wrapper .card-info .dolar-section .money .money-container:last-child {
  border: none;
}
.card-wrapper .card-info .dolar-section .money .money-container .textwrapper {
  width: 160px;
}
.card-wrapper .card-info .dolar-section .money .money-container .textwrapper span {
  font-size: 10px;
  color: #7D8FB3;
  font-family: "Roboto-Font";
}
.card-wrapper .card-info .dolar-section .money .money-container .textwrapper h4 {
  font-size: 13px;
  font-family: "Roboto-Font";
  color: #4D5E80;
  margin-top: 15px;
}
.card-wrapper .card-info .dolar-section .money .money-container .mon {
  width: 51px;
  height: 30px;
  background: #F7F8FA;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto-Font";
  font-weight: bolder;
  font-size: 12px;
  color: #6B7A99;
}
.card-wrapper .card-info .dolar-section .money .money-container .plus {
  background: rgba(41, 204, 57, 0.1);
  color: #29CC39;
}
.card-wrapper .card-info .dolar-section .money .money-container .plus1000 {
  width: 60px;
}

.card-info-big {
  padding-top: 30px;
}
@media screen and (max-width: 1550px) {
  .card-info-big {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    padding-top: 0px;
  }
}
@media screen and (max-width: 1450px) {
  .card-info-big {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@media screen and (max-width: 920px) {
  .card-info-big {
    display: none;
  }
}
.card-info-big .center-div {
  width: 730px;
  height: 445px;
  background-color: white;
  margin-left: 30px;
  /* Shadows/Gray Blue/3%/5b */
  -webkit-box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
          box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
  border-radius: 10px;
}
@media screen and (max-width: 1550px) {
  .card-info-big .center-div {
    margin-left: 0px;
    width: 710px;
  }
}
.card-info-big .center-div .header {
  padding: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 2px #F5F6F7;
}
.card-info-big .center-div .header .left-header, .card-info-big .center-div .header .right-header {
  width: 40px;
  height: 40px;
  /* Grey Blue 97 */
  border: 2px solid #F5F6F7;
  /* Shadows/Gray Blue/3%/5b  */
  -webkit-box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
          box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-info-big .center-div .header .center-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-info-big .center-div .header .center-ul li {
  font-family: "Roboto-Font";
  font-size: 12px;
}
.card-info-big .center-div .header .center-ul li:first-child {
  margin-right: 25px;
  color: #8833FF;
}
.card-info-big .center-div .header .center-ul li:last-child {
  margin-left: 25px;
  color: #7D8FB3;
}
.card-info-big .center-div .header .center-ul li .stick {
  height: 2px;
  background: #8833FF;
  -webkit-transform: translateY(29px);
          transform: translateY(29px);
}
.card-info-big .center-div .circle-container-relative {
  padding: 50px 50px 0px 50px;
  margin-top: 32px;
  border-bottom: solid 2px #F5F6F7;
}
.card-info-big .center-div .circle-container-relative .elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 230px;
}
.card-info-big .center-div .circle-container-relative .elements .containers {
  position: relative;
}
.card-info-big .center-div .circle-container-relative .elements .containers .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-info-big .center-div .circle-container-relative .elements .containers .flex span {
  color: #EDDFFF;
  font-family: "Roboto-Font";
  font-weight: bolder;
  font-size: 24px;
}
.card-info-big .center-div .circle-container-relative .elements .containers .bubble {
  top: -80px;
  width: 140px;
  height: 140px;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFBE00), to(#FF8F00));
  background: linear-gradient(180deg, #FFBE00 0%, #FF8F00 100%);
  mix-blend-mode: normal;
  opacity: 0.8;
  border-radius: 50%;
  -webkit-box-shadow: 0px 22px 74px rgba(254, 208, 24, 0.8), inset 0px 10px 21px #FFEFAB;
          box-shadow: 0px 22px 74px rgba(254, 208, 24, 0.8), inset 0px 10px 21px #FFEFAB;
}
.card-info-big .center-div .circle-container-relative .elements .containers .bubble2 {
  top: -100px;
  position: absolute;
  width: 180px;
  border-radius: 50%;
  height: 180px;
  background: -webkit-gradient(linear, left top, left bottom, from(#F7136C), to(#FF6300));
  background: linear-gradient(180deg, #F7136C 0%, #FF6300 100%);
  mix-blend-mode: normal;
  opacity: 0.8;
  -webkit-box-shadow: 0px 30px 48px rgba(255, 6, 58, 0.3), inset 0px 0px 63px rgba(255, 189, 222, 0.5);
          box-shadow: 0px 30px 48px rgba(255, 6, 58, 0.3), inset 0px 0px 63px rgba(255, 189, 222, 0.5);
}
.card-info-big .center-div .circle-container-relative .elements .containers .bubble3 {
  position: absolute;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#9238FF), to(#9253FF));
  background: linear-gradient(180deg, #9238FF 0%, #9253FF 100%);
  mix-blend-mode: normal;
  opacity: 0.8;
  -webkit-box-shadow: 0px 22px 34px rgba(197, 69, 249, 0.5), inset 0px 4px 23px rgba(235, 170, 255, 0.7);
          box-shadow: 0px 22px 34px rgba(197, 69, 249, 0.5), inset 0px 4px 23px rgba(235, 170, 255, 0.7);
  width: 130px;
  height: 130px;
  z-index: 5;
  top: -80px;
  right: -38px;
}
.card-info-big .center-div .circle-container-relative .elements .containers .bubble4 {
  position: absolute;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#00DBFC), to(#4300FF));
  background: linear-gradient(180deg, #00DBFC 0%, #4300FF 100%);
  mix-blend-mode: normal;
  opacity: 0.8;
  -webkit-box-shadow: 0px 30px 34px rgba(29, 155, 254, 0.15), inset 0px 0px 63px rgba(180, 220, 255, 0.5);
          box-shadow: 0px 30px 34px rgba(29, 155, 254, 0.15), inset 0px 0px 63px rgba(180, 220, 255, 0.5);
  width: 130px;
  height: 130px;
  top: -76px;
  z-index: 7;
}
.card-info-big .center-div .circle-container-relative .elements .containers .bubble5 {
  position: absolute;
  border-radius: 50%;
  z-index: 6;
  background: -webkit-gradient(linear, left top, left bottom, from(#09B680), to(#04B58A));
  background: linear-gradient(180deg, #09B680 0%, #04B58A 100%);
  mix-blend-mode: normal;
  opacity: 0.8;
  -webkit-box-shadow: 0px 22px 34px rgba(41, 218, 61, 0.56), inset 0px 11px 43px #AFFFB3;
          box-shadow: 0px 22px 34px rgba(41, 218, 61, 0.56), inset 0px 11px 43px #AFFFB3;
  width: 120px;
  height: 120px;
  top: -45px;
  right: -33px;
}
.card-info-big .center-div .circle-container-relative .elements .containers .bubble6 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF7900), color-stop(95.78%, #FF7300));
  background: linear-gradient(180deg, #FF7900 0%, #FF7300 95.78%);
  mix-blend-mode: normal;
  opacity: 0.8;
  -webkit-box-shadow: 0px 22px 35px rgba(254, 144, 41, 0.4), inset 0px 11px 33px #FED06D;
          box-shadow: 0px 22px 35px rgba(254, 144, 41, 0.4), inset 0px 11px 33px #FED06D;
  top: -50px;
}
.card-info-big .center-div .circle-container-relative .elements .containers .box {
  width: 110px;
  height: 184px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 199, 33, 0.0001)), color-stop(43.09%, #FFC721), to(#FEC11D));
  background: linear-gradient(180deg, rgba(255, 199, 33, 0.0001) 0%, #FFC721 43.09%, #FEC11D 100%);
  mix-blend-mode: normal;
  opacity: 0.2;
}
.card-info-big .center-div .circle-container-relative .elements .containers .box2 {
  background: #E64683;
  mix-blend-mode: normal;
  opacity: 0.1;
  width: 179px;
  height: 140px;
  opacity: 0.2;
}
.card-info-big .center-div .circle-container-relative .elements .containers .box3 {
  width: 53px;
  height: 189px;
  background: #A55FFE;
  mix-blend-mode: normal;
  opacity: 0.2;
}
.card-info-big .center-div .circle-container-relative .elements .containers .box4 {
  width: 130px;
  height: 126px;
  background: #37C9F6;
  mix-blend-mode: normal;
  opacity: 0.2;
}
.card-info-big .center-div .circle-container-relative .elements .containers .box5 {
  width: 58px;
  height: 189px;
  background: #33DC47;
  mix-blend-mode: normal;
  opacity: 0.2;
}
.card-info-big .center-div .circle-container-relative .elements .containers .box6 {
  width: 100px;
  height: 120px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 165, 66, 0.0001)), color-stop(17.23%, #FFA542), to(#FF922F));
  background: linear-gradient(180deg, rgba(255, 165, 66, 0.0001) 0%, #FFA542 17.23%, #FF922F 100%);
  mix-blend-mode: normal;
  opacity: 0.2;
}
.card-info-big .center-div .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}
.card-info-big .center-div .lists .ul_container {
  width: 590px;
  padding-top: 17px;
}
.card-info-big .center-div .lists .ul_container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-info-big .center-div .lists .ul_container ul li {
  font-size: 12px;
  /* Grey Blue 70 */
  color: #7D8FB3;
  font-family: "Roboto-Font";
  font-weight: 700;
}
.card-info-big .news {
  padding-left: 30px;
  padding-top: 30px;
}
@media screen and (max-width: 1550px) {
  .card-info-big .news {
    padding-left: 0;
  }
}
.card-info-big .news .company-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}
.card-info-big .news .company-images:last-child {
  padding-top: 14px;
}

.Account {
  width: 330px;
  background-color: #f7f8fa;
  margin-left: 30px;
  border-left: solid 2px #EDEFF2;
  padding-top: 30px;
}
@media screen and (max-width: 1600px) {
  .Account {
    width: 290px;
  }
}
@media screen and (max-width: 920px) {
  .Account {
    display: none;
  }
}
.Account .headerBox {
  padding-left: 39px;
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1600px) {
  .Account .headerBox {
    padding-left: 19px;
    padding-right: 20px;
  }
}
.Account .profile-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.Account .profile-picture .circlePlus {
  position: absolute;
  /* Orange */
  background: #FF6633;
  /* Shadows/Orange/10%/30b */
  -webkit-box-shadow: 0px 10px 30px rgba(255, 102, 51, 0.1);
          box-shadow: 0px 10px 30px rgba(255, 102, 51, 0.1);
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 75px;
}
.Account .profile-picture .profile-wrapper {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid #8833FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Account .profile-picture .profile-wrapper img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.Account .h3 {
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
  font-family: "Roboto-Font";
  color: #6B7A99;
}
.Account .accWcards {
  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
}
@media screen and (max-width: 1600px) {
  .Account .accWcards {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.Account .accWcards .accs, .Account .accWcards .carts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Account .accWcards .accs p, .Account .accWcards .carts p {
  font-size: 12px;
  font-weight: bold;
  font-family: "Roboto-Font";
  color: #6B7A99;
}
@media screen and (max-width: 1366px) {
  .Account .accWcards .accs p, .Account .accWcards .carts p {
    font-size: 9px;
  }
}
.Account .accWcards .accs p:last-child, .Account .accWcards .carts p:last-child {
  margin-top: 5px;
}
.Account .accWcards .carts {
  margin-top: 20px;
}
.Account .accWcards .carts:first-child {
  margin-top: 30px;
}
.Account .accWcards .carts .txt {
  margin-right: 30px;
}
.Account .accWcards .carts .arrow {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #FFFFFF;
  /* Shadows/Gray Blue/3%/5b */
  -webkit-box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
          box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Account .setting {
  margin-top: 42px;
  padding-right: 32px;
  padding-left: 32px;
}
@media screen and (max-width: 1600px) {
  .Account .setting {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.Account .setting .accs, .Account .setting .accWcards .carts, .Account .accWcards .setting .carts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Account .setting .accs p, .Account .setting .accWcards .carts p, .Account .accWcards .setting .carts p {
  font-size: 12px;
  font-weight: bold;
  font-family: "Roboto-Font";
  color: #6B7A99;
}
.Account .setting .personal_account {
  padding-top: 35px;
}
.Account .setting .personal_account .p-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Account .setting .personal_account .p-box:not(:first-child) {
  margin-top: 20px;
}
.Account .setting .personal_account .p-box .circle-st {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* White */
  background: #FFFFFF;
  /* Shadows/Gray Blue/3%/5b */
  -webkit-box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
          box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Account .setting .personal_account .p-box p {
  margin-left: 20px;
  color: #6B7A99;
  font-size: 12px;
  font-weight: bold;
  font-family: "Roboto-Font";
}
.Account .last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Account .last .lastbox {
  width: 270px;
  height: 200px;
  background: rgba(254, 180, 95, 0.4431372549);
  mix-blend-mode: normal;
  /*opacity: 0.2;*/
  border-radius: 10px;
  margin-top: 20px;
  padding-top: 30px;
}
@media screen and (max-width: 1600px) {
  .Account .last .lastbox {
    width: 200px;
  }
}
.Account .last .lastbox .call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.Account .last .lastbox .textwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Account .last .lastbox .textwrapper p {
  font-size: 12px;
  font-family: "Roboto-Font";
  font-weight: 700;
}
.Account .last .lastbox .textwrapper p:first-child {
  margin-top: 24px;
  /* Orange */
  color: #FF6633;
}
.Account .last .lastbox .textwrapper p:last-child {
  margin-top: 10px;
  /* Purple */
  color: #8833FF;
}

.chat {
  width: 100px;
  height: 50px;
  background-color: rgb(90, 180, 221);
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
}
.chat img {
  width: 40px;
}

/*custom scrollbar*/
body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(126, 126, 126, 0.4);
}

body::-webkit-scrollbar-thumb {
  background-color: #e78632;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.3) 20%, transparent 20%, transparent 40%, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.3) 60%, transparent 60%, transparent 80%, rgba(255, 255, 255, 0.3) 80%);
  border-radius: 10px;
}/*# sourceMappingURL=global.css.map */
